
@font-face {
    font-family: "BMEULJIRO.otf";
    src: url("fonts/BMEULJIRO.otf") format("opentype");
}

nav {
    background-color: #3d2db3;
    display: flex;
    justify-content: center;
    gap: 80px;
    padding: 15px;
}

nav a {
    font-family: "BMEULJIRO.otf", sans-serif;
    color: white;
    text-decoration: none;
    font-size: 32px;

    text-shadow:
        2px 2px 0 black,
        -2px 2px 0 black,
        2px -2px 0 black,
        -2px -2px 0 black;

}

img {
    display: block;
    width: 500px;
    margin: 0 auto;
}

.Dezel_head {
    width: 10%;
    margin: 0 auto;
}

body {
    text-align: center;
    background-color: black;
    color: white;
}

.news_last {
    opacity: 0.5;
}

.news_list {
    width: 800px;
    max-width: 90%;
    margin: 50px auto;
}

.news_list_item {
    display: block;

    padding: 25px 30px;
    margin-bottom: 20px;
    border: 2px solid white;

    color: white;
    text-decoration: none;

    text-align: left;
    font-family: "BMEULJIRO.otf", sans-serif;
    font-size: 24px;
}

.news_list_item:hover {
    background-color: #white;
    color: #3d2db3;
}

.font_BMEULJIRO {
    font-family: "BMEULJIRO.otf", sans-serif;
}

.notice1 {
    width: 400px;
    max-width: 90%;
    margin: 50px auto;
    padding: 0px;

    border-top: 2px solid white;
    border-bottom: 2px solid white;
    box-sizing: border-box;

    line-height: 1.8;

}

.notice2 {
    width: 600px;
    max-width: 90%;
    margin: 50px auto;
    padding: 0px;

    border-left: 2px solid white;
    border-right: 2px solid white;
    box-sizing: border-box;

    line-height: 1.8;

}

.체험학습_안내문 {
    font-size: 16px;
    justify-content: left;
    text-align: left;
    margin-left: 20px;
    margin-right: 20px;
    width: 450px;
    margin: 0 auto;
    line-height: 1.8;
}

.글 {
    font-size: 16px;
    justify-content: left;
    text-align: left;
    margin-left: 20px;
    margin-right: 20px;
    width: 400px;
    margin: 0 auto;
    line-height: 1.8;

}



@media (max-width: 600px) {
    p {
        font-size: 13px;
    }

    nav {
        gap: 8px;
        flex-wrap: nowrap;
    }

    nav a {
        font-size: 15px;
    }

    img {
        max-width: 100%;
        width: auto;
        height: auto;
    }

    .Dezel_head {
        width: 20%;
        margin: 0 auto;
    }

    iframe {
        max-width: 100%;
        width: 100%;
        height: auto;
        aspect-ratio: 16 / 9;
    }

    .notice1 {
        width: 80%;
        max-width: 90%;
        margin: 10px auto;
        padding: 0px;

        border-top: 2px solid white;
        border-bottom: 2px solid white;
        box-sizing: border-box;


        line-height: 1.8;

    }

    .notice2 {
        width: 100%;
        max-width: 90%;
        margin: 10px auto;
        padding: 0px;

        border-left: 2px solid white;
        border-right: 2px solid white;
        box-sizing: border-box;


        line-height: 1.8;

    }

    .체험학습_안내문 {
        font-size: 13px;
        text-align: left;
        width: 250px;
        margin: 0 auto;
    }

    .글 {
        font-size: 13px;
        text-align: left;
        width: 250px;
        margin: 0 auto;
    }
}