
@font-face {
    font-family: "BMEULJIRO.otf";
    src: url("fonts/BMEULJIRO.otf") format("opentype");
}

nav {
    background-color: #3d2db3;
    display: flex;
    justify-content: center;
    gap: 80px;
    padding: 15px;
}

nav a {
    font-family: "BMEULJIRO.otf", sans-serif;
    color: white;
    text-decoration: none;
    font-size: 32px;

    text-shadow:
        2px 2px 0 black,
        -2px 2px 0 black,
        2px -2px 0 black,
        -2px -2px 0 black;

}

img {
    display: block;
    width: 500px;
    margin: 0 auto;
}

body {
    text-align: center;
    background-color: black;
    color: white;
}